{% macro render_pagination(pagination) %}
  <div class=pagination>
  {%- for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
        <a href="{{ url_for_other_page(page) }}">{{ page }}</a>
      {% else %}
        <strong>{{ page }}</strong>
      {% endif %}
    {% else %}
      <span class=ellipsis>…</span>
    {% endif %}
  {%- endfor %}
  {% if pagination.has_next %}
    <a href="{{ url_for_other_page(pagination.page + 1)
      }}">Next &raquo;</a>
  {% endif %}
  </div>
{% endmacro %}

{% macro show_scored(scored_status) %}
<div class=pagination>
  <div>
  {% if count_all_scored_docs() == 0 %}
    No Scored Records 
  {% else %}
    <a href="/docs/list/scored/1">See Scored Records [{{count_all_scored_docs()}}]</a>
  {% endif %}
  </div>
  <div>
  {% if count_all_docs() == count_all_scored_docs() %}
    No Unscored Records 
  {% else %}
    <a href="/docs/list/unscored/1">See Unscored Records [{{count_all_docs() - count_all_scored_docs()}}]</a>
  {% endif %}
  </div>
  <div>
    <a href="/docs/list/all/1">View All</a>
  </div>
  <div>
    <a href="/docs/import'">Import CSV File</a>
  </div>
  <div>
    <a href="/docs/export'">Export CSV File</a>
  </div>
  </div>
{% endmacro %}

<html>

<head>

<link rel="stylesheet" type="text/css" href="/static/css/main.css">
<link rel="stylesheet" type="text/css" href="/static/css/normalize.css">

<script type="text/javascript" src="/static/js/vendor/jquery-1.12.0.min.js" ></script>
<script type="text/javascript" src="/static/js/main.js" ></script>
<script type="text/javascript" src="/static/js/plugins.js" ></script>

<meta name="viewport" content="width=device-width, initial-scale=1">


</head>

<body>


<div id="toplevel">

{{render_pagination(pagination)}}
{{show_scored(scored_status)}}

<p/>
<div>{{message}}</div>

<div>
  <h3> Total Count: {{count_all_docs()}}  </h3>
  <h3> Scored: {{count_all_scored_docs()}} </h3>

</div>

<div><button type="submit" form="form1" value="Submit">Submit</button></div>


<form action="" method="post" id="form1">

  {% for doc in docs %}
  <div id = "sub_page">
    <div><H3>Score</H3></div>
    <div><input type="number" name="{{doc["_id"]}}_score" value="{{doc["score"]}}" min="0" max="10" id="the_score"></div>
    <input type="hidden" name="_id" value="{{doc["_id"]}}">
        {% for key in sorted(doc.keys()) %}

          <div><H3>{{key}}</H3></div>
          <div><i>{{doc[key]|urlize(target='_blank')}}</i></div></p>
        {% endfor %}
      </div>

      {% endfor %}

  </form>
  <div><button type="submit" form="form1" value="Submit">Submit</button></div>
{{render_pagination(pagination)}}

</div>

</body>


<html>
